// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text_field
{
	font-size: 150%;
	text-align: center;
	height: 50px;
	width: 50px;
}
#input
{
	display: inline-block;
}
.button
{
	margin-left: 60px;
	display: inline-block;
}